%header.index
  .container
    .row
      .row.header-title-container
        .col-sm-4.col-sm-offset-8.header-title-container-body
          %h4.text-right
            Tu casa de
            %span Pestañas
%section.about.bg-white.text-center{:id => "about"}
  .img-about.hidden-md-down
    %img{:alt => "", :src => "img/ImageNosotros.jpg"}/
  .container
    .row.text-about
      .col-xs-12.col-md-3.text-about-title
        %h2.text-primary.text-center Conócenos
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          Somos una empresa especializada en el servicio de extensiones de pestañas – cejas,  la distribución de los mejores productos para pestañas y cejas, nuestra prioridad es que nuestros clientes queden completamente satisfechos con nuestros servicios tanto en calidad como en atención. Constantemente buscamos innovar con nuevas tendencias, estilos y técnicas, esto junto con nuestros productos que son de la más alta calidad nos permite embellecer de la mejor manera a nuestras clientas
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          En Aquiub Casa de Pestañas encontrarás un equipo de especialistas con alta experiencia en el campo facial, nos caracterizamos por dar un excelente servicio y dar gran énfasis en pestañas y cejas manejando productos 100% Garantizados.
%section.portfolio{:id => "portfolio"}
  .container
    .row
      .col-md-3.col-xs-12.title-container
        %h2.text-center.portfolio-title Portafolio
      .col-xs-12.col-md-9
        .owl-carousel
          .item
            .thumbnail.text-center
              %a{ href: url(:base, :servicios)}
                %img.img-responsive{:alt => "", :src => "/img/foto-servicios.jpg"}/
              .caption
                %h4 Servicios
          .item
            .thumbnail.text-center
              %a{ href: url(:base, :catalogo)}
                %img.img-responsive{:alt => "", :src => "/img/foto-productos.jpg"}/
              .caption
                %h4 Productos
          .item
            .thumbnail.text-center
              %a{ href: url(:base, :capacitaciones)}
                %img.img-responsive{:alt => "", :src => "/img/foto-capacitaciones.jpg"}/
              .caption
                %h4 Capacitaciones
%section.gallery#gallery
  .row
    .col-xs-12.title
      %h2
        Galeria
    .col-xs-12#gallery_container
%section.promociones#promociones
  .container
    .row
      .promotions
        -@promotions.each do |p|
          .item
            .col-xs-6
              %img.img-responsive{:src => "#{p.picture_url}", :alt => ""}/
            .col-xs-6
              %h3
                =p.title
              %p
                =p.body


%section#contact.contact
  .container
    .col-md-6.col-md-offset-3.col-xs-12.col-sm-8.col-sm-offset-1.contact-form
      .title-contact-form
        %h2
          %img.logo-contact{:src => "/img/logo-contact.svg"}/
          Contáctanos
      %form{:role => "form"}
        / text input
        .form-group
          %input.form-control{:placeholder => "Nombre", :required => "true", :type => "text"}/
        .form-group
          %input.form-control{:placeholder => "Email", :required => "true", :type => "email"}/
        / textarea
        .form-group
          %textarea.form-control{:placeholder => "Mensaje", :required => "true", :rows => "3"}
        %button.btn.send-button{:type => "submit"} Enviar
  .container
    .col-xs-12.places-list

      %h2
        Visítanos
      %i.fa.fa-map-marker{"aria-hidden" => "true"}
      -@sedes.each do |s|
        %a{ href: url(:base, :sede, s.id) }=s.name
  %img.footer-cinta{:src => "/img/forma.png"}/

