%header.index
  .container
    .row
      .row.header-title-container
        .col-sm-4.col-sm-offset-8.header-title-container-body
          %h4.text-right
            Tu casa de
            %span Pestañas
%section.about.bg-white.text-center{:id => "about"}
  %img.img-about.hidden-md-down{:alt => "", :src => "img/ImageNosotros.png"}/
  .container
    .row.text-about
      .col-xs-12.col-md-3.text-about-title
        %h2.text-primary.text-center Conócenos
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptateid est laborum.
%section.portfolio{:id => "portfolio"}
  .container
    .row
      .col-md-3.col-xs-12.title-container
        %h2.text-center.portfolio-title Portafolio
      .col-xs-12.col-md-9
        .owl-carousel
          .item
            .thumbnail.text-center
              %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
              .caption
                %h4 Servicios
          .item
            .thumbnail.text-center
              %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
              .caption
                %h4 Productos
          .item
            .thumbnail.text-center
              %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
              .caption
                %h4 Capacitaciones
%section.gallery#gallery
  .row
    .col-xs-12.title
      %h2
        Galeria
    .col-xs-12#gallery_container


%section#contact.contact
  .container
    .col-md-6.col-md-offset-3.col-xs-12.col-sm-8.col-sm-offset-1.contact-form
      .title-contact-form
        %h2
          %img.logo-contact{:src => "/img/logo-contact.svg"}/
          Contáctanos
      %form{:role => "form"}
        / text input
        .form-group
          %input.form-control{:placeholder => "Nombre", :required => "true", :type => "text"}/
        .form-group
          %input.form-control{:placeholder => "Email", :required => "true", :type => "email"}/
        / textarea
        .form-group
          %textarea.form-control{:placeholder => "Mensaje", :required => "true", :rows => "3"}
        %button.btn.send-button{:type => "submit"} Enviar
