%header
  .container
    .row
      .row.header-title-container
        .col-sm-4.col-sm-offset-8.header-title-container-body
          %h4.text-right
            Tu casa de
            %span Pestañas
%section.about.bg-white.text-center{:id => "about"}
  %img.img-about{:alt => "", :src => "img/ImageNosotros.png"}/
  .container
    .row.text-about
      .col-xs-12.col-md-3.text-about-title
        %h2.text-primary.text-center Conócenos
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .col-xs-12.col-md-3.text-about-body
        %h4.black-text.text-left
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%section.portfolio{:id => "portfolio"}
  .container
    .row
      .col-md-3.entry
        %h2.text-center.portfolio-title Portafolio
      .col-md-3.entry
        .col-sm-12.thumbnail.text-center
          %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
          .caption
            %h4 Lorem ipsum dolor sit amet, consectetur
      .col-md-3.entry
        .col-sm-12.thumbnail.text-center
          %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
          .caption
            %h4 Lorem ipsum dolor sit amet, consectetur
      .col-md-3.entry
        .col-sm-12.thumbnail.text-center
          %img.img-responsive{:alt => "", :src => "http://www.wallpapereast.com/static/images/6801692-lovely-nature-wallpaper.jpg"}/
          .caption
            %h4 Lorem ipsum dolor sit amet, consectetur
/ %section.cta
/   .cta-content
/     .container
/       %h2
/         Stop waiting.
/         %br>/
/         Start building.
/       %a.btn.btn-outline.btn-xl.page-scroll{:href => "#contact"} Let's Get Started!
/   .overlay
%section#contact.contact
  .container
    .col-md-6.col-md-offset-3.col-xs-12.col-sm-8.col-sm-offset-1.contact-form
      .title-contact-form
        %h2
          %img.logo-contact{:src => "/img/logo-contact.svg"}/
          Contáctanos
      %form{:role => "form"}
        / text input
        .form-group
          %input.form-control{:placeholder => "Nombre", :required => "true", :type => "text"}/
        .form-group
          %input.form-control{:placeholder => "Email", :required => "true", :type => "email"}/
        / textarea
        .form-group
          %textarea.form-control{:placeholder => "Mensaje", :required => "true", :rows => "3"}
        %button.btn.send-button{:type => "submit"} Enviar
