@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
/* Global Components*/
html,
body {
  height: 100%;
  width: 100%; }

nav {
  background-color: transparent !important; }

body {
  font-family: 'Oswald', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 300;
  overflow-x: hidden; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #b22f7b; }
  a:hover, a:focus {
    color: #8a245f; }

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: fade(#222222, 10%); }

hr.light {
  border-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  letter-spacing: 1px; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

/* Navigation*/
@media (max-width: 768px) {
  .logo {
    display: none !important; } }

.navbar-default {
  background-color: transparent !important;
  border-color: fade(#222222, 5%);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  letter-spacing: 1px; }
  .navbar-default .navbar-header .navbar-brand {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
    letter-spacing: 1px;
    color: white; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #e6e6e6; }
  .navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: white;
    padding: 8px 10px; }
  .navbar-default .nav {
    margin-top: 3%; }
    .navbar-default .nav > li > a {
      font-family: 'Oswald', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 18px;
      text-transform: capitalize !important; }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
      color: white; }
      .navbar-default .nav > li > a:hover,
      .navbar-default .nav > li > a:focus:hover {
        color: white;
        text-decoration: underline; }
    .navbar-default .nav > li.active > a,
    .navbar-default .nav > li.active > a:focus {
      color: white !important;
      background-color: transparent !important;
      text-decoration: underline; }
      .navbar-default .nav > li.active > a:hover,
      .navbar-default .nav > li.active > a:focus:hover {
        background-color: transparent; }
  @media (min-width: 768px) {
    .navbar-default {
      background-color: transparent !important;
      border-color: transparent; }
      .navbar-default .navbar-header .navbar-brand {
        color: fade(white, 70%); }
        .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
          color: white; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: fade(white, 70%); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: white; }
      .navbar-default.affix {
        background-color: rgba(178, 47, 123, 0.5) !important;
        border-color: fade(#222222, 10%); }
        .navbar-default.affix .navbar-header .navbar-brand {
          color: white; }
          .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
            color: white; }
        .navbar-default.affix .navbar-collapse .logo {
          display: none; }
        .navbar-default.affix .nav {
          margin-top: 0; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: white; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: white; } }
  @media (max-width: 768px) {
    .navbar-default {
      background-color: rgba(178, 47, 123, 0.8) !important;
      border: none !important; } }

/* Homepage Header*/
header.index {
  z-index: 1000;
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: auto;
  background: url("../img/home_background.png");
  /* fallback for old browsers */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white; }
  header.index .header-title-container {
    position: relative;
    top: 20vh; }
    header.index .header-title-container .header-title-container-body h4 {
      font-size: 45px; }
      header.index .header-title-container .header-title-container-body h4 span {
        font-size: 85px !important; }

/* Sections*/
section h2 {
  font-size: 50px; }

section.about {
  height: 50vh;
  width: 100vw;
  padding: 0 0;
  position: relative;
  min-height: auto;
  z-index: 100; }
  @media (max-width: 1000px) {
    section.about {
      height: 100% !important; }
      section.about .img-about {
        display: none; } }
  section.about .img-about {
    position: absolute;
    right: -100px;
    top: -50px;
    height: 60vh;
    min-height: 300px;
    z-index: 10; }
    section.about .img-about img {
      height: 100%; }
  section.about .text-about {
    padding: 10vh 0;
    min-height: 300px;
    z-index: 20; }
    section.about .text-about .text-about-title {
      vertical-align: middle;
      margin: 5vh 0;
      font-size: 50px; }
      section.about .text-about .text-about-title h2 {
        height: 100%; }
    section.about .text-about .text-about-body {
      vertical-align: middle; }

section.portfolio {
  width: 100vw;
  position: relative;
  background: #b22f7b;
  height: 100%;
  z-index: 1000;
  padding: 20px 10px; }
  section.portfolio .portfolio-title {
    color: white;
    height: 100%; }
  section.portfolio .caption {
    color: white;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    background: #000;
    background: -webkit-linear-gradient(bottom, #000 40%, transparent 100%) repeat scroll 0 0 transparent;
    background: linear-gradient(to top, #000 40%, transparent 100%) repeat scroll 0 0 transparent; }
  section.portfolio .thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    height: 207px;
    overflow: hidden; }
  section.portfolio .section-heading {
    margin-bottom: 100px; }
    section.portfolio .section-heading h2 {
      margin-top: 0; }
    section.portfolio .section-heading p {
      margin-bottom: 0; }
  section.portfolio .device-container,
  section.portfolio .feature-item {
    max-width: 300px;
    margin: 0 auto; }
  section.portfolio .device-container {
    margin-bottom: 100px; }
    @media (min-width: 992px) {
      section.portfolio .device-container {
        margin-bottom: 0; } }
  section.portfolio .feature-item {
    text-align: center;
    margin-bottom: 100px; }
    section.portfolio .feature-item h3 {
      font-size: 30px; }
    section.portfolio .feature-item i {
      font-size: 80px;
      background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
      background: -webkit-linear-gradient(right, #7b4397, #dc2430);
      background: linear-gradient(to left, #7b4397, #dc2430);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  @media (min-width: 992px) {
    section.portfolio .device-container,
    section.portfolio .feature-item {
      max-width: none; } }

section.gallery .title {
  text-align: center;
  color: #a8276f; }

section.promociones {
  background-color: black;
  min-height: 300px;
  height: 100%;
  padding: 50px 0;
  color: white; }
  section.promociones .owl-next, section.promociones .owl-prev {
    display: none !important; }
  section.promociones .promotions {
    display: block; }
  section.promociones h3 {
    color: #b22f7b;
    font-size: 35px;
    text-transform: uppercase; }

section.contact {
  background: url("../img/footer-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100%;
  min-height: auto;
  text-align: center;
  vertical-align: middle;
  min-height: 350px; }
  section.contact .form-control {
    border-radius: 0; }
  section.contact .send-button {
    border-radius: 0 !important;
    background-color: #b22f7b;
    border: none;
    text-transform: capitalize;
    color: white; }
  section.contact .title-contact-form {
    color: #b22f7b;
    margin-top: 5vh; }
  section.contact .logo-contact {
    width: 50px; }
  section.contact .logo-contact path {
    fill: blue; }
  section.contact .send-button:hover {
    background-color: black; }

footer {
  background-color: #222222;
  padding: 25px 0;
  color: fade(white, 30%);
  text-align: center; }
  footer p {
    font-size: 12px;
    margin: 0; }
  footer ul {
    margin-bottom: 0; }
    footer ul li a {
      font-size: 12px;
      color: fade(white, 30%); }
      footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
        text-decoration: none; }

/* Bootstrap Overrides*/
.bg-white {
  background: white; }

.bg-primary {
  background: #b22f7b;
  background: -webkit-linear-gradient(#b22f7b, #9e2a6d);
  background: linear-gradient(#b22f7b, #9e2a6d); }

.text-primary {
  color: #b22f7b; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/* Button Styles*/
.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: white;
    background-color: #b22f7b;
    border-color: #b22f7b; }

.btn {
  font-family: 'Oswald', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px; }

.btn-xl {
  padding: 15px 45px;
  font-size: 11px; }

/* Extras*/
/* -- Highlight Color Customization*/
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222; }

::selection {
  color: white;
  text-shadow: none;
  background: #222222; }

img::-moz-selection {
  color: white;
  background: transparent; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #222222; }

.places-list {
  text-align: left;
  position: relative;
  bottom: -20vh;
  margin-top: 25px;
  z-index: 100000;
  color: white; }
  .places-list i {
    font-size: 30px;
    margin-right: 5px; }
  .places-list a {
    color: white;
    font-size: 25px; }
  @media only screen and (min-width: 1000px) {
    .places-list {
      bottom: -35vh; } }

.footer-cinta {
  width: 100vw;
  position: relative;
  bottom: 0;
  z-index: 1000; }
  .footer-cinta.place {
    position: absolute; }

header.catalogo {
  z-index: 1000;
  position: relative;
  height: 40vh;
  width: 100%;
  min-height: auto;
  background: url("../img/foto-cabecera-completa.png");
  /* fallback for old browsers */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white; }
  header.catalogo .header-title-container {
    position: relative;
    top: 20vh;
    margin: 0;
    padding: 0 50px; }
    header.catalogo .header-title-container .header-title-container-body h4 {
      font-size: 45px; }
      header.catalogo .header-title-container .header-title-container-body h4 span {
        font-size: 85px !important; }

.catalogo-container {
  width: 100%;
  padding: 0 15%; }
  .catalogo-container .catalogo-title-bar {
    width: 100%;
    background: #a8276f;
    text-align: left;
    color: white;
    font-size: 28px;
    height: auto;
    padding: 0 0 0 10px;
    margin: 50px 0 0 0; }
  .catalogo-container .table-container .entry {
    padding: 10px 15px;
    margin: 15px 0;
    min-height: 580px !important; }
    .catalogo-container .table-container .entry .image-container {
      display: block;
      width: 100%;
      padding: 100% 0 0 0;
      background-size: cover;
      background-position: 50%; }
    .catalogo-container .table-container .entry .name {
      display: block;
      color: #a8276f;
      margin: 10px 0 0 0; }
    .catalogo-container .table-container .entry .description {
      display: block;
      border-top: 1px solid #a8276f;
      margin: 15px 0 0 0;
      padding: 10px 0 0 0; }

header.sede {
  z-index: 1000;
  position: relative;
  height: 60vh;
  width: 100%;
  min-height: auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  color: white; }
  header.sede .header-title-container {
    position: relative;
    top: 20vh;
    margin: 0;
    padding: 0 50px; }
    header.sede .header-title-container .header-title-container-body h4 {
      font-size: 45px; }
      header.sede .header-title-container .header-title-container-body h4 span {
        font-size: 85px !important; }

header.catalogo {
  z-index: 1000;
  position: relative;
  height: 40vh;
  width: 100%;
  min-height: auto;
  background: url("../img/foto-cabecera-completa.png");
  /* fallback for old browsers */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white; }
  header.catalogo .header-title-container {
    position: relative;
    top: 20vh;
    margin: 0;
    padding: 0 50px; }
    header.catalogo .header-title-container .header-title-container-body h4 {
      font-size: 45px; }
      header.catalogo .header-title-container .header-title-container-body h4 span {
        font-size: 85px !important; }

.sede-container {
  min-height: 450px; }
  .sede-container .service-type-box {
    padding: 10px 15px;
    margin: 15px 0; }
    .sede-container .service-type-box .service-type-picture {
      display: block;
      width: 100%;
      height: 150px;
      background-position: center center !important; }
    .sede-container .service-type-box .service-type-name {
      display: block;
      background: #a8276f;
      opacity: 0.75;
      color: white;
      font-size: 28px;
      height: auto;
      padding: 0 0 0 10px;
      margin: -40px 0 0 0; }
    .sede-container .service-type-box .service-list-title {
      display: block;
      color: #a8276f;
      margin: 15px 0 10px 0;
      font-size: 24px; }
    .sede-container .service-type-box .service-entry {
      display: block;
      margin: 0 0 10px 0;
      color: black;
      font-size: 20px; }

.map {
  padding: 0 !important; }

@media only screen and (min-width: 1080px) {
  .gmap {
    margin-bottom: 100px; } }
@media only screen and (min-width: 1284px) {
  .gmap {
    margin-bottom: 160px; } }

.places-title {
  display: block;
  background: #a8276f;
  opacity: 0.75;
  color: white;
  font-size: 28px;
  height: auto;
  padding: 0 0 0 10px;
  margin: -40px 0 0 0; }

.sede-gallery {
  min-height: 300px;
  margin-bottom: 30px; }
  .sede-gallery .gallery-title {
    margin-bottom: 30px; }

.address {
  font-size: 25px;
  padding: 20px 10px;
  margin-bottom: 30px; }
  .address i {
    margin-right: 15px;
    color: #a8276f; }

.lashes {
  margin-top: 5vh;
  margin-bottom: 5vh; }

.eyebrows {
  margin-top: 10vh;
  margin-bottom: 5vh; }

.services-content {
  margin: 30px 0; }
  .services-content .image-container {
    max-height: 200px;
    overflow: hidden; }
  .services-content .service-entry {
    margin-bottom: 10px; }
  .services-content .text-container h3 {
    color: #b22f7b;
    text-transform: capitalize;
    font-size: 30px; }

.capacitaciones h2 {
  color: #b22f7b; }

/*# sourceMappingURL=base.css.map */
