- error = @special.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title,:caption => "Titulo:", :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)
- error = @special.errors.include?(:body)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :body,:caption => "Detalles:", :class => 'control-label'
  .controls
    =f.text_field :body, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : pat(:example)
- error = @special.errors.include?(:expiration)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :expiration, :class => 'control-label'
  .controls
    =f.date_field :expiration, :class => 'form-control input-large input-with-feedback datepicker'
    %span.help-inline=error ? f.error_message_on(:expiration, :class => 'text-error') : pat(:example)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :picture, :caption => "Imagen:",:class => 'control-label'
  .controls
    =f.file_field :picture, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:picture, :class => 'text-error') : pat(:example)
  .image
    %img{ src: @special.picture }

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:specials, :index), :class => 'btn btn-default'
