%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:specials, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:specials, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:specials, :edit, :id => @special.id)

.tabs-content
  = form_for :special, url(:specials, :update, :id => @special.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'specials/form', :locals => { :f => f }
