@import "variables.scss";
@import "mixins.scss";

/* Global Components*/
$brand-primary: #b22f7b;
html,
body {
    height: 100%;
    width: 100%;
}
nav {
  background-color: transparent !important;
}

body {
    @include body-font;
    overflow-x: hidden;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade($gray-darker, 10%);
}


hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Navigation*/
.logo {
     @media (max-width: 768px) {
         display: none !important;
     }
}
.navbar-default {
    background-color: transparent !important;
    border-color: fade($gray-darker, 5%);
    @include transition-all;
    @include heading-font;
    .navbar-header .navbar-brand {
        @include heading-font;
        color: white;
        &:hover,
        &:focus {
            color: darken(white, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-size: 12px;
        color: white;
        padding: 8px 10px;
    }
    .nav {
      margin-top: 3%;
        > li {
            > a {
                @include alt-font;
                font-size: 18px;
                text-transform: capitalize !important;

            }
            > a,
            > a:focus {
                color: white;
                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: white !important;
                    background-color: transparent !important;
                    text-decoration: underline;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent !important;
        border-color: transparent;
        .navbar-header .navbar-brand {
            color: fade(white, 70%);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: fade(white, 70%);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: rgba(178, 47, 123, 0.5)!important;
            border-color: fade($gray-darker, 10%);
            .navbar-header .navbar-brand {
                color: white;
                &:hover,
                &:focus {
                    color: white;
                }
            }
            .navbar-collapse {
              .logo {
                display: none
              }
            }
            .nav {
              margin-top: 0;
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: white;
                &:hover {
                    color:white;
                }
            }

        }
    }
    @media (max-width: 768px) {
        background-color: rgba(178, 47, 123, 0.8) !important;
        border: none !important;
    }
}

/* Homepage Header*/

header.index {
    z-index: 1000;
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: auto;
    background: url("../img/home_background.png"); /* fallback for old browsers */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
    color: white;
    .header-title-container {
      position: relative;
      top: 20vh;
      .header-title-container-body {
        h4 {
        font-size: 45px;
        span {
          font-size: 85px !important;
        }
      }
    }
    }
}


/* Sections*/

section {
    h2 {
        font-size: 50px;
    }
}

section.about {
    height: 50vh;
    width: 100vw;
    @media (max-width: 1000px) {
        height: 100% !important;
    .img-about {
    display: none;

  }
  }
    padding: 0 0;
    position: relative;
    min-height: auto;
    z-index: 100 ;
    .img-about {
      position: absolute;
      right:-100px;
      top: -50px;
      height: 60vh;
      min-height: 300px;
      z-index: 10;
      img {
          height: 100%;
      }
    }
    .text-about {
      padding: 10vh 0 ;
      min-height: 300px;
      z-index: 20;
      .text-about-title {
        vertical-align: middle;
        margin: 5vh 0 ;
        font-size: 50px;
        h2 {
          height: 100% ;
        }
      }
      .text-about-body {
        vertical-align: middle;

      }
    }
}

section.portfolio {
    width: 100vw;
    position: relative;
    background: $theme-primary;
    height: 100%;
    z-index: 1000;
    padding: 20px 10px;

    .portfolio-title {
      color: white;
      height: 100%;
    }
    .caption {
        color: white;
        width:100%;
        bottom: 0;
        margin-bottom: 0;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
        max-width: 400px;
        height: 207px;
        overflow: hidden;
    }

    .section-heading {
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
        margin-bottom: 100px;
    }
    .device-container,
    .feature-item {
        max-width: 300px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        text-align: center;
        margin-bottom: 100px;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 80px;
              background: -webkit-linear-gradient(to left, $theme-secondary , $theme-tertiary);
              background: -webkit-linear-gradient(right, $theme-secondary , $theme-tertiary);
              background: linear-gradient(to left, $theme-secondary , $theme-tertiary);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
        }
    }
    @media(min-width: 992px) {
        .device-container,
        .feature-item {
            max-width: none;
        }
    }
}

section.gallery {
  .title {
    text-align: center;
    color:#a8276f;
  }
}

section.promociones {
    background-color:black;
    min-height: 300px;
    height: 100%;
    padding: 50px 0;
    color: white;
    .owl-next, .owl-prev {
        display: none !important;

    }
    .promotions {
        display: block;
    }
    h3{
        color: #b22f7b;
        font-size: 35px;
        text-transform:uppercase;
    }
}
section.contact {
    background: url('../img/footer-background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    min-height: 350px ;
    .form-control {
      border-radius: 0;
    }
    .send-button {
      border-radius: 0 !important;
      background-color: $theme-primary;
      border: none;
      text-transform: capitalize;
      color: white;
    }
    .title-contact-form {
      color: $theme-primary;
      margin-top: 5vh;
    }
    .logo-contact {
      width: 50px;
    }
    .logo-contact path {
      fill: blue
    }
     .send-button:hover {
      background-color: darken($theme-primary, 50%);
     }
  }

footer {
    background-color: $gray-darker;
    padding: 25px 0;
    color: fade(white, 30%);
    text-align: center;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: fade(white, 30%);
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Bootstrap Overrides*/
.bg-white{
  background: white;
}
.bg-primary {
    background: $theme-primary;
    background: -webkit-linear-gradient($theme-primary , darken($theme-primary, 5%));
    background: linear-gradient($theme-primary , darken($theme-primary, 5%));
}

.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Button Styles*/
.btn-outline {
    color: white;
    border-color: white;
    border: 1px solid;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        background-color: $theme-primary;
        border-color: $theme-primary;
    }
}

.btn {
    @include alt-font;
    border-radius: 300px;
}

.btn-xl {
    padding: 15px 45px;
    font-size: 11px;
}

/* Extras*/
/* -- Highlight Color Customization*/
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: $gray-darker;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $gray-darker;
}

.places-list {
    text-align: left;
    position: relative;
    bottom: -20vh;
    margin-top: 25px;
    z-index: 100000;
    color: white;
    i {
        font-size: 20px;
        margin-right: 5px;
    }
    a{
    color: white;
    font-size: 18px;
    }
    @media only screen and (min-width: 1000px) {

    bottom: -35vh;
    }
}
.footer-cinta {
    width: 100vw;
    position: relative;
    bottom: 0;
    z-index: 1000;
    &.place{
        position: absolute;
    }
  }
@import 'catalogo';
@import 'sede';
@import 'services';
@import 'capacitaciones';